/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no {
    display: flex;
    justify-content: space-between;
    border: #1abc9c solid;
    


}
.yes{
    display: flex;
    justify-content: space-between;
}


/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background: #020617;
    font-size: 26px;
    letter-spacing: 1px;
    border-bottom: 2px solid #1abc9c;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    background: #020617;
}

nav a {
    color: #e2e8f0;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

/* underline animation */
nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #1abc9c;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;

}

/* Main */
main {
    padding: 30px;
    flex-wrap: wrap;

}

/* Section */
section {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

/* Header Table */
th {
    background: #1abc9c;
    color: black;
    padding: 15px;
}

/* Cells */
td {
    padding: 15px;
    text-align: center;
}

/* Row lines */
tr {
    border-bottom: 1px solid #334155;
}

/* Hover */
tr:hover {
    background: #1abc9c;
    color: black;
    transition: 0.3s;
}

/* Form */
form {
    max-width: 500px;
    margin: auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

/* Inputs */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

/* Focus */
input:focus,
textarea:focus {
    outline: 2px solid #1abc9c;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #1abc9c;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
button:hover {
    background: #22c55e;
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    margin-top: 30px;
}



/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}